

%banner {
  height: 229px;
  width: 100%;
  background-image: url("#{$publicPath}assets/Banner/banner.png");
  background-size: cover;
}


%big-white-button {
  background-color: white;
  color: $color-teal;
  height: 32px;
  border-radius: 4px;
  font-family: "Helvetica Neue";
  font-size: 14px;
}
