

.glossary-section {
  width: 100%;
  margin-bottom: 56px;

  h2 {
    font-family: $normal-text;
    font-size: 24px;
    margin-bottom: 10px;
    display: block;
    font-weight: 500;
  }

  p {
    font-family: $normal-text;
    font-size: 18px;
  }
}
