.home-banner {
  @extend %banner;
  padding-top: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-row {
  width: 768px;
}

.banner-row.row-1 {
  height: 48px;
  display: flex;
  justify-content: space-between;

  .banner-description {
    margin: 0;
    color: white;
    width: 432px;
  }

  .new-record-button {
    @extend %big-white-button;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 160px;
  }
}


.banner-row.row-2 {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .search-header {
    color: white;
    margin: 0;
  }

  .download-button {
    font-size: 14px;
    font-family: "Helvetica Neue";
    color: white;
    text-decoration: none;
    margin-top: 5px;

    img {
      height: 13px;
      margin-right: 5px;
    }
  }
}

.banner-row.row-3 {
  height: 48px;
}

.banner-row.row-4 {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-family: "Helvetica Neue";

  .add-filters-button-container {
    position: relative;

    .add-filters-button {
      @extend %big-white-button;
      position: relative;
      width: 144px;
      background-image: url("#{$publicPath}assets/Icons/Dropdown-Arrow-Icon-Grey.svg");

      img {
        position: absolute;
        right: 8px; top: 8px;
        width: 18px
      }
    }

    .filter-list {
      box-shadow: 0 3px 6px 0 rgba(0,0,0,.5);
      background-color: white;
      border-radius: 4px;
      position: absolute;
      display: flex;
      flex-direction: column;
      padding-top: 12px;
      padding-bottom: 8px;
      min-width: 176px;
      z-index: 999;

      .filter-item {
        height: 27px;
        width: auto;
        padding-top: 5px;
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        color: $color-teal;
        font-family: "Helvetica Neue";
        font-size: 14px;
        padding-bottom: 5px;

        &:hover, &.active {
          background-color: $color-background-lightGrey;
        }

        img {
          visibility: hidden;
          -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
          height: 14px;
          padding-left: 2px;
          position: absolute;
          right: 8px; top: 8px;
        }
      }
    }

    .filter-types-list {
      top: 36px;
      left: 0;

      .filter-type-item {
        min-width: 176px;
        position: relative;

        &.active {
          img {
            visibility: visible;
          }
        }
      }

      .expanded-filter-list {
        top: 0;
        left: 176px;

        .filter-list-item {
          white-space: nowrap;
          width: 100%;
        }
      }
    }
  }

  .verified-filter-container {
    width: 130px;
    height: 32px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: inherit;

    .verified-filter {
      width: 64px;
      height: 32px;
      background-color: white;
      border: $color-border-lightGrey 1px solid;
      border-radius: 3px;
      padding: 4px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: inherit;
      font-size: 14px;
      position: relative;

      span {
        font-family: "Helvetica Neue";
        margin: 5px;
      }

      .verified-filter-switch {
        height: 22px;
        width: 22px;
        background-color: $color-background-lighterGrey;
        border-radius: 2px;
        position: absolute;
        left: 5px;
        transition: all .05s linear;

        &.on {
          transform: translate(30px, 0);
          background-color: $color-teal;
        }
      }
    }
  }
}

.active-filter-bar {
  width: 100%;
  background-color: $color-whiteGrey;
  padding-left: $bannerPadding;
  padding-right: $bannerPadding;

  .active-filter-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
    padding-top: 33px;

    .active-filter-list {
      padding-right: 40px;
      height: 32px;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;

      .active-filter-button-container {
        position: relative;

        .active-filter-button {
          border: 1px solid $color-background-darkGrey;
          border-radius: 4px;
          margin-right: 8px;
          height: 32px;
          position: relative;
          font-size: 14px;
          font-family: "Helvetica Neue";
          color: $color-background-darkGrey;
          padding-right: 28px;
          padding-left: 16px;

          img {
            width: 12px;
            position: absolute;
            top: 10px;
            right: 10px;
          }
        }

        .overflow-button {
          position: absolute;
          width: 40px;
          height: 32px;
          border: 1px solid $color-background-darkGrey;
          border-radius: 4px;
          padding-left: 0;

          span {
            font-size: 24px;
          }
        }
      }
    }

    .all-filter-controls {
      position: absolute;
      top: 7px; right: 0;
      display: flex;

      button {
        color: $color-background-darkGrey;
        text-decoration: underline;
        font-size: 12px;
        font-family: "Helvetica Neue";
      }
    }

    &.show-all {
      padding-bottom: 10px;
      padding-top: 23px;

      .active-filter-list {
        height: auto;

        .active-filter-button {
          margin-top: 10px;
        }
      }
    }
  }
}

.sort-order-bar {
  width: 100%;
  height: 32px;
  background-color: $color-background-darkGrey;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.5);

  .sort-button-container {
    width: $containerWidth;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    .sort-section {
      display: flex;
      align-items: center;
      height: 100%;
      padding-top: 4px;

      button, span {
        font-family: "Helvetica Neue";
        font-size: 14px;
        color: white;
        padding-left: 0;
        display: flex;
        align-items: center;
      }

      img {
        height: 20px;
        margin-left: 5px;

        &.asc {
          transform:rotate(180deg)
        }
      }
    }

    .journal-sort-section {
      width: 384px;
      padding-left: 47px;
    }

    .publisher-sort-section {
      width: 112px;
    }

    .doi-sort-section {
      width: 272px;
    }

    .issn-sort-section {
      width: 80px;
    }

    .oa-sort-section {
      width: 54px;
    }

    .date-sort-section {
      width: 80px;
    }
  }
}
.shadow-canvas {
  position: relative;
  z-index: -1;
  height: 16px;
  background-color: $color-whiteGrey;
  margin-right: $containerPadding;
  margin-left: $containerPadding;
}

#search-container {
  width: 100%;
  height: 100%;
  position: relative;
}

#search-container > input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 50px;
  border-radius: 5px;
  border: 1px solid black;
  position: absolute;
  z-index: 2;
}

#search-container > .search-glass {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
}

.search-suggestions {
  position: absolute;
  top: 95%;
  max-height: 211px;
  width: 100%;
  background-color: white;
  z-index: 1;
  border: 1px solid black;
  padding-top: 13px;
  padding-left: 10px;
  overflow-y: scroll;
}

.search-suggestions > ul {
  list-style: none;
  padding: 0; margin: 0;
}

.search-suggestions > ul > li {
  margin-bottom: 6px;
}

.search-suggestion {
  cursor: pointer;
}
