.home-content {
  padding-bottom: 20px;
  padding-right: $containerPadding;
  padding-left: $containerPadding;
  min-height: 800px;
}

.results-list {
  min-height: 500px;
  width: $containerWidth;
  background-color: $color-whiteGrey;
  display: flex;
  flex-direction: column;
  align-items: center;

  .result-item {
    cursor: pointer;
    display: flex;
    width: calc(100% - 32px);
    height: 48px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 8px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
    padding: 8px 16px 8px 8px;
    font-size: 12px;

    .result-section-verified {
      width: 24px;
      img {
        width: 18px;
        margin-top: -2px;
      }
    }
    .result-section-title {
      width: 336px;
      font-weight: bold;
    }
    .result-section-publisher {
      width: 112px;
      padding-right: 10px;
    }
    .result-section-doi {
      width: 256px;
      color: $color-default-link;
      text-decoration: underline;
      a:visited {
        color: $color-default-visited-link;
      }
    }
    .result-section-issn {
      width: 96px;
      padding-left: 16px;
      display: flex;
      flex-direction: column;
    }
    .result-section-oa {
      width: 16px;
      img {width: 16px}
    }
    .result-section-date {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }

    &.expanded {
      background-color: $color-background-lighterGrey;
    }
  }

  .result-details {
    transition:max-height 0.5s linear;
    max-height: 1200px;
    overflow: hidden;
    width: calc(100% - 32px);
    padding-left: 16px;
    padding-right: 16px;

    &.collapsed {
      transition:max-height 0.3s linear;
      max-height: 0;
    }

    .compare-checkbox-bar {
      height: 24px;
      margin-left: 16px;
      position: relative;

      .compare-checkbox-container {
        input {
          opacity: 0;
          position: absolute;
        }

        label {
          padding-left: 24px;
          font-family: "Helvetica Neue";
          cursor: pointer;
          font-size: 11px;
          display: block;
          padding-top: 2px;

          &:before {
            content: "";
            position: absolute;
            box-sizing: border-box;
            left: 0; top: 0;
            width: 16px;
            height: 16px;
            border: 1px solid $color-checkbox-grey;
            border-radius: 2px;
            background-color: white;
            margin-right: 8px;
          }

          &.checked {
            &:before {
              background-color: $color-teal;
            }
          }
        }
      }
    }

    .details-section {
      margin-bottom: 8px;
      min-height: 152px;
      background-color: white;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

      .header-bar {
        background-color: $color-background-lightGrey;
        color: $color-background-darkGrey;
        font-weight: 600;
        height: 24px;
        font-family: "Helvetica Neue";
        font-size: 12px;
        padding-left: 15px;
        display: flex;
        align-items: center;
      }

      .details-content {
        padding: 10px 15px 15px 15px;

        span, a, div {
          font-family: "Helvetica Neue";
          font-size: 12px;
        }

        a {
          text-decoration: none;
          color: $color-text-link;
        }

        .details-content-label, .details-content-type-label {
          font-weight: 600;
        }

        .details-content-type-label {
          color: $color-teal;
          margin-top: 8px;
        }

        .left-column {
          margin-right: 15px;
          width: 448px;
          display: inline-block;
          vertical-align: top;

          .x-icon, .check-icon {
            width: 16px;
            height: 16px;
            margin-bottom: -3px;
          }
          .x-icon {
            margin-top: 10px;
          }
        }

        .right-column {
          width: 435px;
          display: inline-block;
          vertical-align: top;
        }
      }
    }
  }
}

.paging-container {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 9px;
}
.page-button {
  font-weight: bold;
  color: $color-text-lightGrey;
  width: 34px;
  height: 34px;
  font-size: 12px;
}
.page-button.active-page {
  color: $color-text-darkGrey
}

.paging-container .page-arrow.left-arrow {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
