.home-content {
  padding-bottom: 20px;
  padding-right: $containerPadding;
  padding-left: $containerPadding;
  min-height: 800px;
}

.results-list {
  min-height: 500px;
  width: $containerWidth;
  background-color: $color-whiteGrey;
  padding: 0 16px;

  .result-item {
    display: flex;
    width: 100%;
    height: 48px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 8px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
    padding: 8px 16px 8px 8px;
    font-size: 12px;

    .result-section-verified {
      width: 24px;
      img {
        width: 18px;
        margin-top: -2px;
      }
    }
    .result-section-title {
      width: 336px;
      font-weight: bold;
    }
    .result-section-publisher {
      width: 112px;
      padding-right: 10px;
    }
    .result-section-doi {
      width: 256px;
      color: $color-default-link;
      text-decoration: underline;
      a:visited {
        color: $color-default-visited-link;
      }
    }
    .result-section-issn {
      width: 96px;
      padding-left: 16px;
      display: flex;
      flex-direction: column;
    }
    .result-section-oa {
      width: 16px;
      img {width: 16px}
    }
    .result-section-date {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }

    &.expanded {
      background-color: $color-background-lighterGrey;
    }
  }

  .result-details {

    .compare-checkbox-bar {
      height: 24px;
      margin-left: 16px;
      position: relative;

      .compare-checkbox-container {
        input {
          opacity: 0;
          position: absolute;
        }

        label {
          padding-left: 24px;
          font-family: "Helvetica Neue";
          cursor: pointer;
          font-size: 11px;
          display: block;
          padding-top: 2px;

          &:before {
            content: "";
            position: absolute;
            box-sizing: border-box;
            left: 0; top: 0;
            width: 16px;
            height: 16px;
            border: 1px solid $color-checkbox-grey;
            border-radius: 2px;
            background-color: white;
            margin-right: 8px;
          }

          &.checked {
            &:before {
              background-color: $color-teal;
            }
          }
        }
      }
    }

    .details-section {
      margin-bottom: 8px;
      min-height: 152px;
      background-color: white;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

      .header-bar {
        background-color: $color-background-lightGrey;
        height: 24px;
      }
    }

    .pr-section {

    }

    .opr-section {

    }

    .coreview-section {

    }

    .preprint-section {

    }
  }
}

.paging-container {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 9px;
}
.page-button {
  font-weight: bold;
  color: $color-text-lightGrey;
  width: 34px;
  height: 34px;
  font-size: 12px;
}
.page-button.active-page {
  color: $color-text-darkGrey
}

.paging-container .page-arrow.left-arrow {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
