.home-content {
  padding-bottom: 20px;
  padding-right: $containerPadding;
  padding-left: $containerPadding;
}

.results-list {
  min-height: 500px;
  width: $containerWidth;
  background-color: $color-whiteGrey;
  padding: 0 16px;
  box-sizing: border-box;
}

.paging-container {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 9px;
}
.page-button {
  font-weight: bold;
  color: $color-text-lightGrey;
  width: 34px;
  height: 34px;
  font-size: 12px;
}
.page-button.active-page {
  color: $color-text-darkGrey
}

.paging-container .page-arrow.left-arrow {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
