
.user-stories-banner {
  @extend %banner
}

.user-stories-section-header {
  font-family: $normal-text;
  font-size: 18px;
  font-weight: 500;
}

.table-section {

  .table-description {
    font-family: $normal-text;
    font-size: 18px;
  }

  table {
    border-spacing: 0 23px;
    margin-top: 11px;
    font-size: 12px;
    font-family: $normal-text;

    td, th {
      padding-left: 16px;
      padding-right: 16px;
    }

    td:last-child, th:last-child {
      padding-right: 33px;
    }
    td:first-child, th:first-child {
      padding-left: 33px;
    }

    td {
      vertical-align: top;
    }

    .user-story-table-header {
      background-color: $color-background-darkGrey;
      color: white;
      height: 32px;

      th {
        font-weight: 400;
        text-align: left;
      }

      .group-header {
        width: 143px;
      }

      .type-header {
        width: 109px;
      }
    }
  }
}
