$publicPath: '../';

$containerWidth: 992px;
$bannerWidth: 768px;
$containerPadding: calc((100% - #{$containerWidth})/2);
$bannerPadding: calc((100% - #{$bannerWidth})/2);

//Colors
$color-teal: #00A7A1;
$color-text-darkGrey: #4F5858;
$color-text-lightGrey: #B8BCBC;
$color-whiteGrey: #F7F7F7;
$color-background-darkGrey: #50555D;
$color-background-lighterGrey: #C7C7C7;
$color-background-lightGrey: #E3E3E3;
$color-default-link: #0645AD;
$color-text-link: #4F7BC4;
$color-default-visited-link: #663366;
$color-border-lightGrey: #C4C4C4;
$color-checkbox-grey: #808080;
$color-compare-border: #707070;
