
.about-page-content {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  min-height: 0;

  p, a, h3 {
    font-family: $normal-text;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none
  }

  .primary-description {
    font-size: 16px;
  }

  .section-header {
    font-weight: 500;
    margin-top: 20px;
  }
}
