

%banner {
  height: 229px;
  width: 100%;
  background-image: url("#{$publicPath}assets/Banner/banner.png");
  background-size: cover;
}

.standard-banner {
  @extend %banner;

  .banner-content {
    width: $containerWidth;
    margin-left: $containerPadding;
    padding-top: 83px;

    h2 {
      color: white;
      font-size: 38px
    }
  }
}

%content {
  width: $containerWidth;
  margin-right: $containerPadding;
  margin-left: $containerPadding;
  background-color: $color-whiteGrey;
  padding: 42px 16px 100px 16px;
  min-height: 800px;
}

.standard-content {
  @extend %content
}


%big-white-button {
  background-color: white;
  color: $color-teal;
  height: 32px;
  border-radius: 4px;
  font-family: $normal-text;
  font-size: 14px;
}
