body {
  margin: 0;
}

div, span, input, p, pre, div, h1, h2, h3, h4, h5, h6, a, button {
  font-family: 'Arial';
  margin: 0;
  font-weight: normal;
  box-sizing: border-box;
}

a, button {
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 58px;
  border-bottom: 4px solid rgba(0,0,0,.2);
  padding-right: $containerPadding;
  padding-left: $containerPadding;

  .link-container {
    height: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .header-link {
      margin: auto 25px;
      color: $color-text-darkGrey;
      text-decoration: none;

      &.active {
        color: $color-teal
      }
    }
  }

  .header-logo {
    height: 48px;
    margin: auto 0;
  }
}

.main-footer {
  width: 100%;
  border-top: 2px solid $color-teal;
  display: flex;
  flex-direction: column;

  .footer-content {
    padding: 20px $containerPadding;
    display: flex;
    align-items: center;

    a {
      margin: 20px;
      text-decoration: none;
      color: $color-text-darkGrey;

      img {
        height: 32px;
      }
    }
  }

  .copyright-bar {
    width: 100%;
    height: 48px;
    background-color: $color-teal;
    padding-left: $containerPadding;
    font-size: 11px;
    color: white;
    font-family: $arial;
    display: flex;
    align-items: center;

    span {
      margin-left: 20px;
    }
  }
}

.application-error {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 25px;
}
